/* ortalancak yazılar için */
.ortalama {
    text-align: center; /* text-align : center yazıyı ortalamaya yarıyor */
}

/* Form yerinin düzenlemesi . girdiler ortalandı*/
.form01 {
    text-align: center;
    
}

/* dövüşçüler yeri . yazıları ortaladık */
.dövüscüler {
    text-align: center;
    margin-top: 30px; /* yazının diğer elementler ile arasına boşluk bıraktım iç içe girmesin diye */
}

/* Navigasyon linkleri stili */
.navigasyon {
    color: black;
}
