body {
    background-image: url('../resimler/arkaplan.jpg');
    background-position: center 20%; /* resimi tam ortaladım */
    background-attachment: fixed; /* arkaplan resmi haraket etmesin diye */
    color: white;
    text-align: center;
    padding-top: 250px;
    margin: 0;
}

h1 {
    font-size: 60px;
   
    margin-top: 0;
}

p {
    font-size: 24px;
    text-shadow: 1px 1px 1px black; /* buraya yazının arkasına gölge ekledim çünkü resimden dolayı tam gözükmüyor*/ 
}

a {
    color: white;
    
   
}

.iletişim {
    
    bottom: 0;
    right: 0;
    padding: 10px;
}


