body {
    background-image: url('../resimler/arkaplan.jpg');
    background-size: cover;
    background-position: center 20%;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding-top: 250px;
    margin: 0;
}

h1 {
    font-size: 60px;
    text-shadow: 2px 2px 4px black;
    margin-top: 0;
}

p {
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.contact {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.logo {
    margin-bottom: 0;
}