/* Genel ortalamaiçin */
.ortalama {
    text-align: center;
}

/* Form */
.form02 {
    text-align: center;
    margin-top: 20px;
}

/* Navigasyon linkleri için  */
.navigasyon {
    color: black;
}
