/* Ortalama */
.ortalama {
    text-align: center;
}

/* Tablo  */
.tablo {
    margin-left: auto; /* Tabloyu ortala */
    margin-right: auto; /* Tabloyu ortala */
    width: 80%; /* Tablo genişliği */
    border: 1px solid black; /* Kenarlık */
    text-align: left; /* İçeriği sola hizala */
}

/* Tablo başlıkları */
th {
    background-color: #4e4b4b; /* Açık gri arka plan */
    padding: 10px; /* İç boşluk */
    border-bottom: 2px solid rgb(0, 0, 0); /* Alt kenarlık */
}

/* Tablo hücreleri */
td {
    padding: 10px; /* İç boşluk */
    border-bottom: 1px solid rgb(251, 5, 5); /* Alt kenarlık */
}

/* Navigasyon  */
.navigasyon {
    color: black;
}