/* Body arka plan rengi */
body {
    background-color: rgb(168, 166, 181);
}

/* Genel merkezleme için */
.ortalama {
    text-align: center;
    
}

/* ufc haberi yazısı ortalama */
.baslik {
    text-align: center;
    font-size: 30px;
}

/* haber başlıkları */
.haber-basliklari {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    
}

/* haberlerin resimleri ortaladık */
.haber-tiklama {
    margin-right: 20px;
}



/* Navigasyon linkleri stili */
.navigasyon {
    color: black;
}
