/* Tablo stilleri */
table, th, td {
    border: 1px solid black;
}

/* Metinleri ortalamak için */
.ortalama {
    text-align: center;
}

/* Tabloyu ortalamak için  . tek tek left right yapmadım çünkü bulamadım. auto otomatik ortaladı*/
table {
   margin: auto;
   
}
.navigasyon {
    color: black;
}
