/* Ortalama için */
.ortalama {
    text-align: center;
}


.hakem {
    margin-bottom: 20px; /* Hakemler arasında boşluk */
}


.foto {
    width: 150px; /* Fotoğraf genişliği */
   
}

/* Bilgi kısmı */
.bilgi {
    margin-left: 0px; /* Fotoğrafın genişliği + boşluk */
}

/* Başlık  */
h2 {
    text-align: left; /* Başlık solda */
}

/* Link  */
.link {
   
    text-align: left; /* Link solda */
    color: rgb(0, 0, 0); /* Link rengi */

}

/* Navigasyon linkleri */
.navigasyon {
    color: black;
}